# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]

# This group is read by the server
[mysqld]

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

max_connections = 80
wait_timeout = 28800
innodb_log_file_size = 200M
innodb_buffer_pool_size = 1G
max_allowed_packet = 256M
join_buffer_size = 20M
table_definition_cache = 1000
table_open_cache = 1000
performance_schema = ON

# include all files from the config directory
!includedir /etc/my.cnf.d
